NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MLB_STATS_API_BASE=https://statsapi.mlb.com/api/v1
ODDS_API_KEY=
ODDS_REGIONS=us
MLB_WEBCAST_EMBED_BASE=https://mlbwebcast.com/stream
